<!-- partials/cta-newsletters.hbs -->
<aside class="call-to-action flexy gapy-half width-full">
    {{#if heading}}<h3 id="cta-newsletter" title="{{t heading}}">{{t heading}}</h3>{{else}}<h3 id="cta-newsletter" title='{{t "Subscribe for diverse content and updates"}}'>{{t "Subscribe for diverse content and updates"}}</h3>{{/if}}
    <form data-members-form="subscribe" data-form="subscribe" class="flexy">
        <label for="memberName" class="flexy row" title='{{t "Name"}}'>{{t "Name"}}<input type="txt" name="name" id="memberName" autocomplete="name" title='{{t "Please enter your full name"}}' required data-members-name /></label>
        <label for="memberEmail" class="flexy row" title='{{t "Email"}}'>{{t "Email"}}<input type="email" name="email" id="memberEmail" autocomplete="email" title='{{t "Please enter a valid email address"}}' required data-members-email /></label>
        {{#get "newsletters"}}{{#foreach newsletters}}<label for="newsletter-{{@number}}" class="flexy row" title='{{t "Subscribe to"}}'><input type="checkbox" value="{{name}}" id="newsletter-{{@number}}" title="{{name}}" data-members-newsletter />{{name}}</label>{{else}}<p class="flexy" title='{{t "There were no newsletters"}}'>{{t "There were no newsletters"}}&hellip;</p>{{/foreach}}{{/get}}
        <div class="flexy controls">
            <input type="submit" value='{{t "Subscribe"}}' title='{{t "Subscribe"}}' />
            <input type="reset" value='{{t "Reset"}}' title='{{t "Reset"}}' />
        </div>
    </form>
</aside>