<!-- partials/loop-normal.hbs -->
<section class="looping flexy gapy-half width-full">{{#get "posts" visibility="all" include="tags,authors" filter="featured:false" limit=@config.posts_per_page as |result|}}
    {{#if result}}<hgroup class="flexy">
        <h3 id="might-like" title="{{t 'You might also like'}}">{{t "You might also like"}}&colon;</h3>
    </hgroup>
    <ol class="flexy gapy-half content-width">
        {{#foreach result}}<li data-index="{{@index}}" data-number="{{@number}}"><a href="{{url}}" title="{{title}}">{{title}}</a></li>{{/foreach}}
    </ol>{{else}}<p title="{{t 'There were no posts'}}">{{t "There were no posts"}}&hellip;</p>{{/if}}{{else}}<p><small>This is an error with the context. Seek help.</small><span>{{log this}}</span></p>
{{/get}}</section>