<!-- partials/loop.hbs -->
<section class="flexy gapy-2 width-full">
    <div class="flexy row start gapy-3 content-width">
        {{#foreach posts visibility="all" limit=@config.posts_per_page}}<article class="{{post_class}} flexy row gapy-1 loopy" data-index="{{@index}}" title="{{title}}">
            <hgroup class="flexy start-content gapy-half width-full">
                <h3 id="{{slug}}"><a href="{{url absolute='true'}}" title="{{title}}">{{title}}</a></h3>
            </hgroup>
            {{#if feature_image}}<figure class="flexy has-bg width-full" style="{{#primary_tag}}{{#if accent_color}}background-color: {{accent_color}};{{/if}}{{/primary_tag}} background-image: url({{img_url feature_image absolute='true'}})">
                <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" loading="lazy" onerror="this.style.display='none';" />
                {{#if feature_image_caption}}<figcaption class="width-full" title="{{t 'Image caption'}}">{{feature_image_caption}}</figcaption>{{/if}}
            </figure>{{/if}}
            <p title="{{#if custom_excerpt}}Custom excerpt{{else}}Excerpt{{/if}}">{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{excerpt words="35"}}{{/if}}</p>
            <a href="{{url absolute='true'}}" title='{{t "Continue reading"}}' type="text/html" class="flexy" {{#primary_tag}}{{#if accent_color}}style="background-color: {{accent_color}};"{{/if}}{{/primary_tag}}>{{t "Continue reading"}}</a>
        </article>{{else}}<p class="get-posts-error" title="Error">Error&colon; {{error}}</p>{{/foreach}}
    </div>
</section>