{{!< default}}
<!-- page.hbs -->
{{#is "page"}}
{{#post}}
<section class="flexy row palette">
    {{#match @page.show_title_and_feature_image}}{{#if feature_image}}<figure class="flexy loopy has-bg" style="{{#primary_tag}}{{#if accent_color}}background-color: {{accent_color}}; {{/if}}{{/primary_tag}}background-image: url({{img_url feature_image absolute='true'}})" title="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
        <img src="{{img_url feature_image absolute='true'}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" title="{{title}}" loading="lazy" />
        {{#if feature_image_caption}}<figcaption>{{feature_image_caption}}</figcaption>{{/if}}
    </figure>{{/if}}
    <hgroup class="flexy start gapy-half">
        <h1 id="{{slug}}" title="{{title}}">{{title}}</h1>
    </hgroup>{{/match}}
</section>
<main id="content" class="{{post_class}} flexy start-content gapy-1 content-width" role="main">
    {{content}}
</main>
{{/post}}
{{/is}}